@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --blue-accent-color: rgb(89 128 250);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

* {
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
  color: rgb(58, 58, 58);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  background-image: url(./assets/background.jpg);
  background-size: cover;
}


h1 {
  font-size: 3.2em;
  font-family: "Trirong", serif;
  margin: 0;
  line-height: 1;
}

h2 {
  margin: 0 0 1em 0;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 700;
}

h1, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1;
}

h3 {
  margin: 0 0 0.4em 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 1.2em;
  font-size: 0.95em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  text-align: center;
}

button:hover {
  border-color: var(--blue-accent-color);
}

.illustrative-logo {
  height: 1em;
  width: 1em;
  position: relative;
  bottom: -2px;
  margin-right: 5px;
}

.description {
  padding-left: 2em;
}

.detailed-subtitle {
  display: inline-block;
}

li.blue {
  list-style: none;
}

li.blue::before {
  color: var(--blue-accent-color);
  content: "\2022";
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

@media screen and (max-width: 480px) {
  #root {
    padding: 0.4em;
  }
}